alembic==1.7.4; 
anyio==3.3.2; 
asgiref==3.4.1; 
astroid==2.8.2; 
asyncpg==0.24.0; 
black==21.9b0; 
click==8.0.2; 
colorama==0.4.4; 
fastapi==0.70.0; 
gino-starlette @ git+https://github.com/Chaostheorie/gino-starlette.git@master ; 
gino==1.0.1; 
h11==0.12.0; 
idna==3.2; 
isort==5.9.3; 
lazy-object-proxy==1.6.0; 
mako==1.1.5; 
markupsafe==2.0.1; 
mccabe==0.6.1; 
mypy-extensions==0.4.3; 
mypy==0.910; 
pathspec==0.9.0; 
platformdirs==2.4.0; 
psycopg2-binary==2.9.1; 
pydantic==1.8.2; 
pylint==2.11.1; 
regex==2021.10.8; 
sniffio==1.2.0; 
sqlalchemy==1.3.24; 
starlette==0.16.0; 
toml==0.10.2; 
tomli==1.2.1; 
typer==0.4.0; 
typing-extensions==3.10.0.2
uvicorn==0.15.0
wrapt==1.12.1; 
